* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-color: #F4D04E;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 100vh;
}

article {
  max-width: 384px;
  min-height: 522px;
  background-color: #fff;
  border-radius: 20px;
}

/*Blog Image Style*/

.blog-image {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  
}

.blog-image svg {
  border-radius: 12px;
}
/*-------------------------------*/

/*BLog Content Style*/

.blog-content {
  padding: 24px 24px 0px 24px;
}

.blog-category {  
  font-family: 'Figtree', sans-serif;
  
  background-color: #F4D04E;
  border-radius: 4px;
 
}

.blog-category h4 {
  padding: 8px 12px 8px 12px;
}

/*-------------------------------*/


/*Author Details Style*/

.author-details {
  padding: 0px 24px 0px 24px;

}